// Glaucose (light blue)
// 567BCC

// Caramel (light brown)
// C97535

// Mantis (light green)
// 74C365

$primary: #5279CB;
$secondary: #CC7B3E;
$danger: #EC4646;
$info:  #74C365;

@import "~bootstrap/scss/bootstrap.scss";
